/* updated */
/* updated */
/* was purple, now soft pink */
/* navy blue */
/* hot pink */
/* navy blue */
/*------- 21. Checkout page  -----------*/
.billing-info-wrap h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px;
  color: #000;
}
.billing-info-wrap .billing-info label,
.billing-info-wrap .billing-select label {
  margin: 0 0 7px;
  color: #000;
}
.billing-info-wrap .billing-info input,
.billing-info-wrap .billing-select input {
  font-size: 14px;
  padding-right: 10px;
  padding-left: 20px;
  color: #333;
  border: 1px solid #e6e6e6;
  background: transparent none repeat scroll 0 0;
}
.billing-info-wrap .billing-info input.billing-address,
.billing-info-wrap .billing-select input.billing-address {
  margin-bottom: 10px;
}
.billing-info-wrap .billing-select select {
  font-size: 14px;
  height: 45px;
  padding: 2px 20px;
  cursor: pointer;
  color: #333;
  border: 1px solid #e6e6e6;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.billing-info-wrap .checkout-account {
  display: flex;
  align-items: center;
}
.billing-info-wrap .checkout-account input {
  display: inline-block;
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid #9fa0a2;
}
.billing-info-wrap .checkout-account span {
  font-weight: 400;
  margin: 0 0 0 12px;
  color: #333;
}
.billing-info-wrap .checkout-account-toggle input {
  font-size: 14px;
  margin: 0 0 20px;
  padding-right: 10px;
  padding-left: 20px;
  color: #333;
  border: 1px solid #e6e6e6;
  background: transparent none repeat scroll 0 0;
}
.billing-info-wrap .checkout-account-toggle button.checkout-btn {
  font-weight: 500;
  z-index: 9;
  padding: 10px 30px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border: medium none;
  border-radius: 50px;
  background-color: #b60410;
}
.billing-info-wrap .checkout-account-toggle button.checkout-btn:hover {
  background-color: #333;
}
.billing-info-wrap .additional-info-wrap h4 {
  font-size: 16px;
  font-weight: 500;
}
.billing-info-wrap .additional-info-wrap .additional-info label {
  font-size: 14px;
  margin: 0 0 7px;
  color: #333;
}
.billing-info-wrap .additional-info-wrap .additional-info textarea {
  font-size: 14px;
  height: 138px;
  padding: 17px 20px;
  color: #333;
  border: 1px solid #e6e6e6;
  background: transparent none repeat scroll 0 0;
}
.billing-info-wrap .different-address {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .your-order-area {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .your-order-area {
    margin-top: 30px;
  }
}
.your-order-area h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px;
  color: #000;
}
.your-order-area .your-order-wrap {
  padding: 38px 45px 44px;
  background: #f6f6f6;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .your-order-area .your-order-wrap {
    padding: 30px 20px 36px;
  }
}
@media only screen and (max-width: 767px) {
  .your-order-area .your-order-wrap {
    padding: 30px 20px 36px;
  }
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-top ul {
  display: flex;
  justify-content: space-between;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-top ul li {
  font-size: 16px;
  font-weight: 500;
  list-style: outside none none;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-middle {
  margin: 29px 0;
  padding: 19px 0 18px;
  border-top: 1px solid #dee0e4;
  border-bottom: 1px solid #dee0e4;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-middle ul li {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul li {
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul li.your-order-shipping {
  font-size: 16px;
  font-weight: 400;
  color: #212121;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-total {
  margin: 18px 0 33px;
  padding: 17px 0 19px;
  border-top: 1px solid #dee0e4;
  border-bottom: 1px solid #dee0e4;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-total ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li.order-total {
  font-size: 18px;
  font-weight: 500;
  color: #212121;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li {
  font-size: 16px;
  font-weight: 500;
  list-style: outside none none;
  color: #b60410;
}
.your-order-area .payment-accordion {
  margin: 0 0 16px;
}
.your-order-area .payment-accordion:last-child {
  margin: 0 0 0;
}
.your-order-area .payment-accordion h4 {
  font-size: 16px;
  margin: 0;
  color: #212121;
}
.your-order-area .payment-accordion h4 a {
  position: relative;
  display: block;
  color: #212121;
}
.your-order-area .payment-accordion h4 a:hover {
  color: #b60410;
}
.your-order-area .payment-accordion .panel-body {
  padding: 5px 0 0 0;
}
.your-order-area .payment-accordion .panel-body p {
  font-size: 14px;
  padding: 0 0 0 10px;
  color: #333;
}
.your-order-area .place-order > a,
.your-order-area .place-order > button {
  font-weight: 500;
  line-height: 1;
  z-index: 9;
  display: block;
  width: 100%;
  padding: 18px 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 50px;
  background: none;
  background-color: #b60410;
}
.your-order-area .place-order > a:hover,
.your-order-area .place-order > button:hover {
  background-color: #333;
}

@media only screen and (max-width: 767px) {
  .checkout-area.pb-100 {
    padding-bottom: 60px;
  }
}



