/* updated */
/* updated */
/* was purple, now soft pink */
/* navy blue */
/* hot pink */
/* navy blue */
/*----- 12. image slider style  -----*/
.single-image {
  overflow: hidden;
}
.single-image a img {
  width: 100%;
  transition: all 0.5s ease 0s;
  transform: scale(1);
}
.single-image:hover a img {
  transform: scale(1.1);
}



