/* Theme variables */
:root {
  --theme-color: #db1a5d;
      --theme-color-2: #0d1b40;
        }
        
/* Alternate theme classes */
.theme-pink {
  --theme-color: #db1a5d;
      --theme-color-2: #0d1b40;
        }
        
.theme-green {
  --theme-color: #db1a5d;
      --theme-color-2: #0d1b40;
        }
        
.theme-blue {
  --theme-color: #db1a5d;
      --theme-color-2: #0d1b40;
        }
        


